guix-load energyplus@23 \
          energyplus-dataset-residential-1a \
          energyplus-weatherfiles \
          python \
          python:tk \
          python-lsp-server \
          python-black \
          python-gymnasium \
          python-sinergym \
          python-opyplus \
          python-jax \
          python-jaxtyping \
          python-optax \
          python-pybox2d \
          python-pygame \
          graphviz \
          xdot \

source ./.venv/bin/activate
export EPLUS_PATH=$GUIX_LOAD_PROFILE
