guix-load energyplus@24 \
          energyplus-dataset-residential-1a \
          energyplus-weatherfiles \
          python \
          python:tk \
          python-lsp-server \
          python-mypy \
          python-black \
          python-numpy \
          python-pytorch \
          python-typer \
          graphviz \
          xdot \
          proot \
          squashfs-tools \
          rsync \


source ./.venv/bin/activate
export ENERGYPLUS_DIR=$GUIX_LOAD_PROFILE
export EPLUS_PATH=$GUIX_LOAD_PROFILE
