guix-load energyplus \
          energyplus-dataset-residential-1a \
          energyplus-weatherfiles \
          python \
          python:tk \
          python-lsp-server \
          python-pydot \
          graphviz \
          python-gymnasium \
          python-sinergym \
          python-opyplus \

source ./.venv/bin/activate
export EPLUS_PATH=$GUIX_LOAD_PROFILE
